@{
    ViewData["Title"] = "Home Page";
}

<style>

    /* Dodanie stylów do dostosowania napisu */
    .main-title {
        font-size: 2em; /* Ustawienie większej wielkości czcionki */
        color: orange; /* Ustawienie koloru pomarańczowego */
    }

    .sub-title {
        font-size: 1.5em; /* Ustawienie mniejszej wielkości czcionki */
        color: white; /* Ustawienie koloru czarnego */
    }

    /* Ustawienie stylu dla zdjęcia, aby zajmowało jak największą część ekranu, ale nie przekraczało maksymalnej wysokości */
    .full-width-img {
        width: 100%; /* Szerokość 100% rodzica */
        max-height: 70vh; /* Maksymalna wysokość 60% wysokości viewportu */
        object-fit: cover; /* Rozciągnięcie obrazu, aby wypełnił obszar bez zachowywania proporcji */
    }
</style>

<div class="text-center">
    <!-- Użycie nowych klas stylów -->
    <h1 class="display-4 sub-title">Do <span class="main-title">KOSZA</span> <span class="sub-title">te buty</span></h1>

    <!-- Dodanie stylu, aby dostosować zdjęcie do całej szerokości ekranu bez potrzeby scrollowania -->
    <img src="~/images/FrontLogo.jpg" alt="Front Logo" class="full-width-img" />
</div>
