@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie E-maila";
}

<h1 style="color: white;">Potwierdzenie <span style="color: orange;">E-maila</span></h1>
<partial name="_StatusMessage" model="Model.StatusMessage" style="color: orange;" />
