@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zapomniałeś swojego hasła ";
}

<h1 class="text-orange">@ViewData["Title"]</h1>
<p>
    Sprawdź swojego meila w celu resetowania hasła.
</p>
