/* Dodanie stylów do dark mode */
body {
    background-color: #000; /* Czarne t³o dla ca³ej strony */
    color: #fff; /* Bia³y kolor tekstu */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimalna wysokoœæ na ca³¹ wysokoœæ widoku */
    margin: 0; /* Usuniêcie marginesów dla body */
}

.navbar {
    background-color: #000; /* Czarne t³o dla navbaru */
    color: #fff; /* Bia³y kolor tekstu na navbarze */
}

.navbar-toggler-icon {
    background-color: #fff; /* Bia³y kolor ikony przycisku burger menu */
}

.footer {
    background-color: #000; /* Czarne t³o dla stopki */
    color: #fff; /* Bia³y kolor tekstu na stopce */
    margin-top: auto; /* Automatyczny margines na górze, aby stopka zawsze by³a na dole */
}

.navbar-brand, .nav-link {
    background-color: #000;
    color: #fff !important; /* Bia³y kolor dla linków w navbarze */
}

#logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    #logo .logo-img {
        width: 1em;
        height: 1em;
        margin-right: 10px;
    }

#logo2 .logo-img {
    width: 1em;
    height: 1em;
    margin-right: 10px
}

.team-image {
    max-width: 100%; /* Ustaw szerokoœæ na 100%, aby zachowaæ proporcje */
    height: auto; /* Ustaw wysokoœæ na auto, aby zachowaæ proporcje */
    max-height: 150px; /* Maksymalna wysokoœæ obrazka */
}

.team-image-full {
    width: 100%;
    height: 53vh; /* 100% wysokoœci widoku (viewport height) */
    object-fit: cover; /* Zdjêcie zostanie skalowane, aby wype³niæ ca³y kontener, zachowuj¹c proporcje */
}

.img-container {
    width: 48%; /* Zmniejszono szerokoœæ do 48%, aby daæ trochê przestrzeni miêdzy tekstem a obrazem */
    display: flex;
    align-items: flex-start; /* Zaktualizowano do flex-start, aby obraz zaczyna³ siê od góry kontenera */
    justify-content: flex-end; /* Przesuniêcie obrazu na praw¹ stronê */
}

.img-fluid {
    width: 100%; /* Zmieniona szerokoœæ na 100%, aby wype³niæ ca³¹ dostêpn¹ szerokoœæ */
    max-height: 100%; /* Maksymalna wysokoœæ na 100%, aby zachowaæ proporcje */
    object-fit: cover; /* Zdjêcie zostanie skalowane, aby wype³niæ ca³y kontener, zachowuj¹c proporcje */
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contact-info {
    width: 48%;
}

.contact-form {
    width: 48%;
}

.form-group{
    margin-bottom: 15px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.col-md-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.shoe-item {
    text-align: center;
    margin-bottom: 20px;
}

    .shoe-item img {
        max-height: 150px;
        object-fit: contain;
    }
.edit-form {
    max-width: 500px; /* Ustaw maksymaln¹ szerokoœæ formularza */
    margin: 0; /* Usuñ marginesy */
}

.form-group-crud {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Odstêpy miêdzy grupami formularzy */
}

.form-label {
    flex: 0 0 30%; /* Szerokoœæ etykiet */
    margin-right: 5px; /* Odstêp miêdzy etykiet¹ a polem wprowadzania */
    text-align: right; /* Wyrównanie tekstu etykiet do prawej */
}

.form-control {
    flex: 0 0 50%; /* Zmniejszona szerokoœæ pól wprowadzania */
}
